.imgFondo {
    background-image: url(../assets/img/building.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include flex(flex, wrap, column, center, start);

    .btn {
        margin-left: 250px;

        a {
            font-size: 28px;
            text-align: center;
            font-weight: 400;
        }
    }

    h2 {
        text-align: center;
        height: 150px;
        width: 50%;
        font-family: $principalFont;
        font-size: 60px;
    }

    h4 {
        text-align: center;
        height: 50px;
        width: 50%;
        font-family: $principalFont;
        font-size: 30px;
    }
}

.gridCard {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 300px;
    grid-template-areas:
        "card1 card2 card3 card4";

    grid-column-gap: 50px;
    margin: 20px 0 30px 0;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    .icon2 {
        width: 80px;
        height: 80px;
        margin-top: 20px;
    }

    h4 {
        font-size: 30px;
        font-family: $principalFont;
        font-weight: normal;
    }
}

.card1 {
    grid-area: card1;
    height: 200px;
    width: 200px;
    background-color: map-get($map: $color, $key: "gris");
    border: 2px solid map-get($map: $color, $key: "azulClaro");
    border-radius: 8px;
    @include flex(flex, wrap, row, space-evenly, center);
}

.card2 {
    grid-area: card2;
    column-gap: 20px;
    @extend .card1;
}

.card3 {
    grid-area: card3;
    column-gap: 20px;
    @extend .card1;
}

.card4 {
    grid-area: card4;
    @extend .card1;
}

.woman {
    background-image: url(../assets/img/woman2.jpeg);
    height: 800px;
    width: 100%;
    @include flex (flex, wrap, column, center, flex-end);
    margin-bottom: 80px;

    h2 {
        width: 50%;
        font-size: 50px;
        font-family: $principalFont;
        padding-bottom: 50px;
        padding-left: 60px;
    }

    p {
        width: 50%;
        font-size: 40px;
        font-family: $principalFont;
        line-height: 80px;
        text-align: center;
        margin-right: 30px;
    }

    .btn {
        margin: 30px 280px 0 auto;
    }
}

.digital {
    background-color: $backGround;
    height: 300px;
    width: 100%;
    @include flex(flex, wrap, row, space-evenly, center);


    h3 {
        font-family: $principalFont;
        font-weight: 400;
        font-size: 50px;
        text-align: center;
        padding-top: 30px;
    }

    .mobile {
        @include flex(flex, wrap, row, space-evenly, center);
        height: 150px;
        width: 150px;
        background-color: map-get($map: $color, $key: "blanco");
        border: 2px solid map-get($map: $color, $key: "azulClaro");
        border-radius: 8px;
        margin-top: 20px;

        .icon2 {
            width: 60px;
            height: 60px;
        }

        h4 {
            font-size: 25px;
            font-family: $principalFont;
            font-weight: normal;
            color: map-get($map: $color, $key: "negro");
            text-align: center;
        }
    }
}

.asistente {
    width: 100%;
    height: 50px;
    @include flex(flex, wrap, row, end, end);
    padding: 10px 30px;


    .icon3 {
        height: 70px;
        width: 70px;
    }
}

.checkbox {
    @include flex(flex, wrap, row, center, center);
    background-color: map-get($map: $color, $key: "azulClaro");
    width: 100%;
    height: 400px;
    column-gap: 50px;
    margin: 80px 0;

    .title {
        font-size: 25px;
        font-family: $principalFont;
        font-weight: 500;
        text-align: center;

        :first-child {
            font-family: $principalFont;
            font-size: 50px;
            font-weight: 400;
        }
    }

    .formulario {
        p {
            font-size: 25px;
            font-family: $principalFont;
            font-weight: normal;
            margin-top: 20px;
        }

        input {
            width: 300px;
            height: 40px;
        }

        textarea {
            width: 300px;
            height: 100px;
        }
    }
}

span {
    font-size: 20px;
    font-family: $principalFont;
    font-weight: 500;

}